<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <logger name="akka" level="ERROR" />
    <logger name="akka.cluster" level="ERROR" />
    <logger name="csw.services.examples" level="INFO" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %X{akkaTimestamp} %-4r %-5level [%thread] %logger{36} - %-5msg%n</pattern>
        </encoder>
    </appender>
    <root level="all">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
