name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      ESW_TS_VERSION: "0.4.1"
    steps:
      - uses: actions/checkout@v4
      - uses: coursier/setup-action@v1.2.0-M2
        with:
          jvm: temurin:1.17
          apps: sbt sbtn
      - uses: coursier/cache-action@v6

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g junit-merge
      - run: npm install -g junit-viewer

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
        with:
          #strip `v` prefix
          strip_v: true

      # This env variable is used when we do Docs Publish
      - name: Set JITPACK_VERSION environment variable
        run: echo "JITPACK_VERSION=${{steps.tag.outputs.tag}}" >> $GITHUB_ENV

      - name: Configure ntp time
        run: |
          sudo apt-get install ntp -y
          sudo ntptime -T 37

      - name: Unit and Component Tests
        run: |
          sbt -Dsbt.log.noformat=true -DenableFatalWarnings=true -Dakka.actor.serialize-messages=on -DenableCoverage=true -DgenerateStoryReport=true 'csw-time/test:test'
          sbt -Dsbt.log.noformat=true -DenableFatalWarnings=true -Dakka.actor.serialize-messages=on -DenableCoverage=true -DgenerateStoryReport=true -DdisableTimeTests 'test:test'

      - name: Coverage Report
        run: |
          sbt -Dsbt.log.noformat=true -DenableCoverage=true coverageReport
          sbtn coverageAggregate

      - uses: actions/upload-artifact@v4
        with:
          name: Coverage Report
          path: target/scala-2.13/scoverage-report

      - name: Delete js targets
        continue-on-error: true
        run: find . -type d -regex ".*js/target.*" | xargs rm -rf

      - name: Multi-Jvm Tests
        run: sbt -Dsbt.log.noformat=true -DgenerateStoryReport=true integration/multi-jvm:test

      - name: Generate RTM
        if: always()
        run: |
          cs launch --channel https://raw.githubusercontent.com/tmtsoftware/osw-apps/master/apps.json rtm:0.3.0 -- target/RTM/testStoryMapping.txt tools/RTM/cswStoryToRequirementMap.csv target/RTM/testRequirementsMapping.txt

      - name: Upload RTM
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: RTM
          path: target/RTM

      - name: Make Site
        run: sbtn makeSite

      - name: Github Release
        run: sbt -Dsbt.log.noformat=true githubRelease
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

      - name: Docs Publish
        run: |
          echo 'echo $RELEASE_TOKEN' > /tmp/.git-askpass
          chmod +x /tmp/.git-askpass
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          sbt -Dsbt.log.noformat=true clean ghpagesPushSite
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          GIT_ASKPASS: /tmp/.git-askpass

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-release
